body, html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

html {
    overflow-y: scroll
}

.logo {
    position: fixed;
    width: 140px;
    top: 19px;
    left: 50%;
}
.logo-border {
    color: #000000;
    font-weight: 900;
    text-decoration: none;
    display: inline-block;
    height: 82px;
    width: 82px;
    transform: rotate(45deg);
    transform-origin: 0 0;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 12px;

}
.logo-c {
    transform: rotate(-45deg);
    font-size: 70px;
    height: 70px;
    width: 70px;
    text-align: center;
}

.datascales {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.timescale .tick text {
    text-anchor: middle;
}

.timescale .tick .tick-day {
    font-weight: 700;
}
.timescale .tick .tick-date {
}
.timescale .tick .tick-time {
}

.scrollgraph {
    width: 100%;
    padding: 0;
    margin: 0;
}